%html
  %head
    %script{src: "/javascripts/jquery.min.js"}
    %script{src: "/javascripts/main.js"}
    %link{rel: "stylesheet", href: "/css/style.css"}

  %body
    #container
      #search
        %form{name: "search", action: "/", method: "get"}
          %input{type: "text", name: "term", value: params[:term], placeholder: "search for something"}
          %input.button{type: "submit", value: "search"}

      - @images.each do |image|
        %img{ src: image.url}
