%html
  %head
    %script{src: "/javascripts/jquery.min.js"}
    %script{src: "/javascripts/main.js"}
    %link{rel: "stylesheet", href: "/css/style.css"}

  %body
    %h1.heading
      search for images from tumblr
    %h2.subheading
      a small hack by 
      %a{href: "http://twitter.com/oguzcanhuner"} @oguzcanhuner
    #container
      #search
        %form{name: "search", action: "/", method: "get"}
          %input{type: "text", name: "term", value: params[:term], placeholder: "e.g. cat gifs"}
          %input.button{type: "submit", value: "search"}

      - @images.each do |image|
        %img{ src: image.url}
